
$background: rgb(119, 24, 24);
$altcolor: white;
$font: 1.2rem;
$boxcolor: rgb(0, 0, 0);
$active: orange;
$hover: lighten($active, 15);
$linkcolor: rgb(167, 132, 18);
// reducing DRY with mixins

@mixin position($margin: false) {
    position:relative;
    top:80px;
    width: 50%;
    @if $margin {
        margin: 2rem auto;
    } @else {
        margin: 0 auto;
    }
}

@mixin cross($degree){

    @if $degree == 45deg {
        width: 25px;

        transform: rotate(45deg);
        position: relative;
        top: 5px;
    } @else {
        width: 25px;

        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }
}

@mixin phone{
    @media only screen and (max-width: 600px) {@content};
}

@mixin navbar{
    @media only screen and (min-width: 992px) {@content};
}