
@import 'base';

.title{
    @include position($margin: true);
}

.content{
    @include position;
    display:flex;
    justify-content: space-evenly;
    
}

#img1{
    width: 100%;
    margin: 1rem 0;
    max-width: 850px;
}

#img1:hover{
    border-radius: 20%;
}

#img2 {
    @extend #img1;
}


.cursive {
    font-style: italic;
    font-weight: 800;
}

p{
    font-size: 1.2rem;
}

.pic-link{
    color: $linkcolor;
}

.pic-link:hover{
    color: darken($linkcolor, 20);
}

#content1{
    margin-bottom: 1rem;
    width: 45%;
    
}

#content2{
    @extend #content1;
}

@include phone{
    .content, .title {
        width: 80%;
    }
}

@include tablet{
    .content{
        display: block;
    }
    #content1{
        width: 100%;
    }
}