
@import 'base';

.title{
    @include position($margin: true);
}

.content{
    @include position;
}

#img1{
    width: 100%;
    margin: 1rem 0;
    max-width: 850px;
}

#img2 {
    @extend #img1;
}


.cursive {
    font-style: italic;
    font-weight: 800;
}

p{
    font-size: 1.2rem;
}


@include phone{
    .content {
        width: 80%;
    }
    .title {
        width: 80%;
    }
}